body {
    font-family: 'Courier New';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
   
}

.calculator {
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: gray;
    border-radius: 25%;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: aqua;
    padding: 5px;
    padding-right: 0px;
    padding-left: 0px;
    border: 2px solid black;
    border-radius: 25%;
}
#display:hover{
    background-color: rgb(73, 226, 43);
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(115, 105, 255);
    border: 1px solid #ccc;
    outline: none;
    border-radius: 50%;
    display: flex;
}
button:hover{
    background-color: rgb(32, 218, 72);
}
button:active {
    background-color: rgb(114, 77, 51);
}
